/* changes specific to AJMAY */

body {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment : fixed;  /* IE FIX */
    color: #585858 !important;
    margin-top: 106px;
}

div#ajm-logo-holder {
	float: left;
	width: 189px;
	height: 65px;
	margin: 10px;
	margin-left: 0px; 
	background: #ffffff url('../img/ajm_logo_black_sml.png') top left no-repeat;
}
.contact-details img {
	width: 18px;
}
.strongish {
	font-weight: 500;
}

.marginer-top-30 {
	margin-top: 30px;
}

.marginer-top {
	margin-top: 50px; 
	margin-right: auto; 
	margin-bottom: 0px;
}

.text-center {
	text-align: center;
}

.txtYellow {
	color: rgba(255, 204, 0, 1) !important;
	text-shadow: -1px 1px #947b23 !important;
}

/* Carousel base class */
.carousel {
	margin-bottom: 0px;
}

.carousel .container {
	position: relative;
	z-index: 9;
}

.carousel-control {
	height: 80px;
	margin-top: 0;
	font-size: 120px;
	text-shadow: 0 1px 1px rgba(0,0,0,.4);
	background-color: transparent;
	border: 0;
	z-index: 10;
}

.carousel .item {
	height: 350px;
}
.carousel .item > img {
	position: absolute;
	top: 0;
	left: 0;
	min-width: 100%;
	height: 350px;
}

.carousel-caption {
	background-color: transparent;
	position: static;
	max-width: 100%;
	padding: 0 40px;
	margin-top: 30px;
	text-align: center;
}
.carousel-caption h1,
.carousel-caption .lead {
	margin: 0;
	line-height: 1.25;
	color: #fff;
	text-shadow: 0 1px 1px rgba(0,0,0,.4);
}
.carousel-caption .btn {
	margin-top: 10px;
}

.carousel-cust-logos {
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 25px; 
	padding: 10px; 
	background-color: rgba(255,255,255,0.9); 
	border-radius: 10px;
}

/* TEMP END */


/* home */

span.anchor {
	/* to enable anchors not to be obscured by sticky nav */
	margin-top: -106px;
	padding-top: 106px;
}

#home_page img.cust-logo {
	margin: 10px; 
}
#home_page .main-points {
	padding: 10px 0px 0px 0px; 
	color: #333333; 
	background-color: rgba(255,204,0,1); /* #ffcc00; */
}
#home p {
	color: #bfbfbf;
}
#works div.cust-logos {
	margin-top: 30px;
	/*background-color: rgba(255,255,255,0.8);*/
}
#works img.cust-logo {
	margin: 10px; 
}

/* slider images */
.slider-segment {
	color: #ffffff;
	font-size: 12px;
	display: inline-table;
}
.slider-image {
	margin: 5px;
	border: 2px solid #ffffff; 
	border-top-right-radius: 20px; 
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	width: 240px;
}
.slider-img-sml {
	width: 132px; 
}
div.works_title {
	padding: 0px !important;
}
div.works_title > span {
	width: 100%;
	padding: 10px 20px; 
	color: #ffcc00;
}

div.click_prompt {
	padding: 0px !important;
	color: #ffffff !important;
}
div.click_prompt > span {
    width: 100%;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.6);
}

/* menu bar */
.fp_menu {
	margin: 15px; 
}

.fp_intro {
	margin: 15px;
}

/* quality */
#quality a, #about .lead a, #works .lead a {
	color: #ffcc00;
	font-weight: 500;
	text-shadow: -1px 1px #947b23;
}
#home_page a {
	color: #3b3b3b;
	font-weight: 500;
}
#home_page a:hover, #quality a:hover, #about a:hover, #works a:hover {
	color: #999999;
}

/* timeline */
.cbp_tmtimeline > li .cbp_tmlabel {
	padding: 1em;
}
.cbp_tmtimeline > li .cbp_tmlabel p {
	padding: 0px;
}

/* google maps */
#map_canvas {
   display: block;
}

/* container tweaks */
.container {padding: 0px 10px;}
.container li { line-height: 30px; }
.container .lead.marginer { margin-top: 0; margin-right: auto; margin-bottom: 50px; }

.quote { width: 74px; height: 74px; background: url('../img/icon-apos.png') center center no-repeat; }
.quoteLeft { float: left; padding: 0px 50px 0px 20px; }
.quoteRight { float: right; padding: 0px 50px 0px 20px; } 

/* homenav tweaks */
ul.homenav.left { margin-left: -330px; }
ul.homenav.right { margin-left: 170px; }

/* netsketch limited */
.netsketch {
	font-size: 10px !important;
	color: #d3d3d3;
}

/* recaptcha */
.g-recaptcha {
	margin: 0 auto;
    width: 50%;
    padding-bottom: 8px;
}

@media (max-width: 480px) {

	/* company logo */
	img#logo {
		/* width: 80%; */
	}
	
	div	ul.homenav {
		width: 330px;
	}	
}

/* landscape ipad and iphone tweaks */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px)
and (orientation : landscape) {
	
	#slider {
		margin-top: 5px;
		font-size: 20px;
	}
/*
	
	section#home {
		height: 300px;
		padding: 20px 0px 30px 0px;
	}
	
*/
	section#works {
		padding-top: 30px;
	}

	img#logo { width: 50%; }
}

/*iPhone 6 and iPhone 6+ landscape*/
@media only screen and (max-device-width: 640px), 
		only screen and (max-device-width: 667px), 
		 only screen and (max-width: 480px) and (orientation : landscape){

}


/* =============================================================== */
/* Media Queries
================================================================ */

@media screen and (max-width: 830px) {
	.og-expander h3 { font-size: 32px; }
	.og-expander p { font-size: 13px; }
	.og-expander a { font-size: 12px; }
}
	
@media screen and (max-width: 650px) {
	.og-fullimg { display: none; }
	.og-details { float: none; width: 100%; }
}

@media (min-width: 800px) {
	.fp_intro p {
		  margin: 0 auto;
		  width: 50%;
	}
}

@media (min-width:1200px){
	.container {width:1042px}
	.container p.lead.twocolumns1 {max-width:474px;}
	.container p.lead.twocolumns2 {max-width:474px;}
	.span3 {width: 250px;}
}
@media (max-height:700px){
	#home .containerblack {margin-top: 50px; }
	#slider  { font-size: 28px; }
	#slider .slide { height: 50px; line-height: 50px;}
}

@media (max-height:400px){
	#home .containerblack {margin-top: 0px!important;}
	.certs {display: none;}
}

@media only screen and (min-width: 980px) and (max-width: 1199px) {
	.container p.lead.twocolumns1 {max-width:423px;}
	.container p.lead.twocolumns2 {max-width:423px;}
	.slider-img-sml { width: 120px; }
}

@media only screen and (max-width: 979px) {
	#home .containerblack {margin-top: 50px; }
	#slider  { font-size: 28px; }
	#slider .slide { height: 50px; line-height: 50px;}
	.container p.lead.twocolumns1 {max-width:315px;}
	.container p.lead.twocolumns2 {max-width:315px;}
	.container.txtblock p.lead {font-size: 22px; line-height: 40px; padding: 0px 60px; /* margin-left: 10px; */ }
	.quote { width: 54px; height: 54px; background: url('../img/icon-apos.png') center center no-repeat; background-size: 54px;}
	.carousel .item > img {	width: auto; }
	.slider-image	{ width: 190px; }
	.slider-img-sml { width: 90px; }
	.ajmStrapLine	{ margin: auto; padding-bottom: 20px; max-width: 500px; }
}

@media only screen and (max-width: 800px) {
	body { margin-top: 92px; padding-right: 0; padding-left: 0; }
	.navbar ul.nav li a { padding: 10px 7px; font-weight: 700; font-size: 12px; }
	.navbar-inner > img { width: 200px; }
	.navbar .contact-details { margin-top: 30px; }
}

@media only screen and (max-width: 767px) {
	body {padding-right: 0;padding-left: 0;}
	.cbp_tmtimeline > li .cbp_tmlabel p {padding: 10px 20px 10px 20px;}
	.carousel .item { height: 300px; }
	.carousel .item > img {	height: 300px; }
	.carousel-caption {	padding: 0 40px; margin-top: 10px; } /* margin-top: 80px */
	.carousel-caption h1 { font-size: 30px; }
	.carousel-caption .lead,
	.carousel-caption .btn { font-size: 18px; }
	.slider-image	{ width: 150px; }
	.slider-img-sml { width: 90px; }
}

@media only screen and (max-width: 650px) {
	ul.homenav.left { display:none; }
	ul.homenav.right { display:none; }
	.carousel-caption .lead {font-size: 15px; }
	.carousel-caption h1 { font-size: 25px; }	
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
	.container p.lead.twocolumns1 {max-width:750px; padding-left:20px; padding-right:20px;}
	.container p.lead.twocolumns2 {max-width:750px; padding-left:20px; padding-right:20px; margin-left:0px; margin-bottom:10px;}
	.container.txtblock p.lead {font-size: 16px; line-height: 30px; /* padding: 0px 60px; margin-left: 10px; */}
	#slider  { font-size: 20px; }
	#slider .slide { height: 32px; line-height: 32px;}
	#works, #about, #timeline, #contact {padding-left:10px; padding-right:10px;}
}
@media only screen and (max-width: 767px) {
	/* max width less than 767px then apply this */
	.navbar .contact-details { margin-right: 15px; }
	.quote { width: 34px; height: 34px; background: url('../img/icon-apos.png') center center no-repeat; background-size: 34px;}
}

@media only screen and (max-width: 680px) {
	/* max width less than 680px then apply this */
	body { margin-top: 80px; }
	.navbar ul.nav li a { padding: 2px 5px;	font-weight: 700; font-size: 11px; }
	.navbar-inner > img { width: 180px; }
}

@media only screen and (min-width: 626px) and (max-width: 767px) {
	.span3 {width: 240px; float: left; margin-right: 30px; margin-bottom: 30px; }
	/*.navbar ul.nav li a { padding: 10px 5px; font-weight: 700; font-size: 12px; }*/
}
@media only screen and (max-width: 625px) {
	/* max width less than 625px then apply this */
	body { margin-top: 68px; }
	.navbar .contact-details { margin-right: 13px; margin-top: 14px; }
	.slider-image	{ width: 120px; }
	.slider-img-sml { width: 90px; }
}
@media only screen and (max-width: 525px) {
	body { margin-top: 80px; }
	.contact-details > span { float: right; clear: right; font-size: 15px;}
	.slider-img-sml { width: 65px; }
}
@media only screen and (min-width: 526px) and (max-width: 625px) {
	.navbar-inner > img { width: 140px; }
	.navbar .contact-details { margin-top: 18px; }
	.span3 {width: 190px; float: left; margin-right: 30px; margin-bottom: 30px; }
	.navbar ul.nav li a { padding: 2px 3px;	font-weight: 700; font-size: 11px; }
}
@media only screen and (max-width: 496px) {
	body { margin-top: 92px; } 
}
@media only screen and (max-width: 480px) {
	/* max width less than 320px then apply this */
	body { margin-top: 90px; } 
	.slider-image	{ width: 100px; }
	.slider-img-sml { width: 55px; }
}
@media only screen and (max-width: 414px) {
	/* max width less than 625px then apply this */
	.carousel-caption { margin-top: 20px; }
}
@media only screen and (min-width: 251px) and (max-width: 525px) {
	.navbar-inner > img { width: 140px; }
	.span3 {width: 250px; float: none; margin: 20px auto 0 auto!important; padding:0; }
	.row {padding-left:0px!important; }
	.navbar ul.nav li a { padding: 2px 5px;	font-weight: 700; font-size:10px; }
	
}
@media only screen and (max-width: 479px) {
	.container p.lead.twocolumns1 {max-width:470px; padding-left:20px; padding-right:20px; font-size:16px; line-height:24px;}
	.container p.lead.twocolumns2 {max-width:470px; padding-left:20px; padding-right:20px; margin-left:0px; margin-bottom:10px; font-size:16px; line-height:24px;}
	#slider  { font-size: 18px; }
	#slider .slide { height: 30px; line-height: 30px;}
	#home .containerblack { padding: 30px 0 30px 0; margin-top: 30px;}
	.container.txtblock p.lead {font-size: 14px; line-height: 24px; padding: 0px 70px;}
	#works, #about, #timeline, #contact {padding-left:10px; padding-right:10px;}
	#home {background:url('../img/bg_home.jpg') no-repeat center center scroll; -webkit-background-size: auto; -moz-background-size: auto; -o-background-size: auto; background-size: auto; background-attachment: scroll;}
	.carousel-caption h1 { font-size: 22px; }
	.slider-image	{ width: 90px; }
	.slider-img-sml { width: 55px; }
}
@media only screen and (max-width: 320px) {
	.navbar-inner { padding-left: 5px; padding-right: 5px; }
	.contact-details > span { float: right; clear: right; font-size: 10px;}
	.carousel-caption .lead { font-size: 12px; }
}
@media only screen and (max-width: 250px) {
	.navbar-inner > img { width: 140px; }
	.span3 {float: none; margin: 20px auto 0 auto!important; padding:0; }
	.row {padding-left:0px!important; }
}

/* Retina-specific stuff here */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
		only screen and (   min--moz-device-pixel-ratio: 2),
		 only screen and (     -o-min-device-pixel-ratio: 2/1),
		  only screen and (        min-device-pixel-ratio: 2),
		   only screen and (                min-resolution: 192dpi),
			only screen and (                min-resolution: 2dppx) { 
}
@media all and (-webkit-min-device-pixel-ratio : 1.5)

/* 	div#ajm-logo-holder { border: 1px solid #ff0000; background-image: url('../img/ajm_logo_black_sml@2x.png') top left no-repeat; background-size: 189px; } */

	div#_____ajm-logo-holder { 
		background-image: url('../img/ajm_logo_black_sml@2x.png') top left no-repeat;
        background-size: 189px 64px;
	}	

}